* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  background-color: rgb(246, 229, 209);
}

#para {
  width: 475px;
  display: none;
}
#qn {
  width: 475px;
  position: relative;
}
#hor {
  width: 475px !important;
}
#btn {
  position: absolute;
  right: 12px;
}
.answer p {
  display: block !important;
}
@media screen and (max-width: 400px) {
  .qn {
    width: 400px !important;
  }
  #btn {
    position: absolute;
    right: 25px;
  }
}
